$pm-color: #001654;
$pm-font-color: #333;
$scd-font-color: #333;

.order-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .order-block {
    position: relative;
    background-color: #efefef;
    border-radius: 8px;
    flex: 1;
    margin-right: 10px;
    padding: 10px 20px;
    .dtl-bullet {
      display: flex;
      .ttl {
        width: 100px;
        text-align: right;
        font-weight: bold;
        margin-right: 10px;
      }
    }
    &.weight {
      flex: 0 1 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: bold;
      .ttl {
        font-weight: bold;
        &.float {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
    }
  }
  .order-status {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .status {
      border-radius: 16px;
      background-color: #333;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
    .action {
      flex: 2;
      border: none;
      border-radius: 16px;
      background-color: #0059ff;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
}
.note-block {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  & > div {
    position: relative;
    background-color: #efefef;
    border-radius: 8px;
    flex: 1;
    margin-right: 10px;
    padding: 10px 20px;
    &:last-child {
      margin-right: 0;
    }
    .details-action {
      position: absolute;
      top: 10px;
      right: 10px;
      a {
        color: $pm-color;
        font-weight: bold;
        margin-right: 5px;
      }
    }
    &.attach {
      .upload {
        color: $pm-color;
        font-weight: bold;
      }
    }
  }
  .ql-editor {
    height: 100px;
  }
}
.pdf-section {
  position: absolute;
  top: 0;
  left: -101%;
}

:host ::ng-deep .ql-container.ql-snow {
  border: none;
  background-color: #fff;
  border-radius: 8px;
  &.ql-disabled {
    background: none !important;
  }
}

:host ::ng-deep .view-quill {
  .ql-container.ngx-quill-view-html {
    height: auto !important;
    background-color: unset;
  }
  .ql-editor {
    padding: 0px !important;
  }
}

:host ::ng-deep .ql-toolbar {
  display: none;
}

.display-none {
  display: none;
}
