<ul class="cmn-list">
  <li>
    <a routerLink="{{rootsetting}}/{{ routepath.payment }}">
      <span>{{ 'setting.payment' | translate }}</span>
    </a>
  </li>
  <li>
    <a routerLink="{{rootsetting}}/{{ routepath.shipping }}">
      <span>{{ 'setting.shipping' | translate }}</span>
    </a>
  </li>
  <li>
    <a routerLink="{{rootsetting}}/{{ routepath.stock }}">
      <span>{{ 'setting.stock' | translate }}</span>
    </a>
  </li>
  <li>
    <a routerLink="{{rootsetting}}/{{ routepath.product }}">
      <span>{{ 'setting.product' | translate }}</span>
    </a>
  </li>
  <li>
    <a routerLink="{{rootsetting}}/{{ routepath.seller }}">
      <span>{{ 'setting.seller' | translate }}</span>
    </a>
  </li>
  <li>
    <a routerLink="{{rootsetting}}/{{ routepath.account }}">
      <span>{{ 'setting.account' | translate }}</span>
    </a>
  </li>
</ul>
