<div class="interact-box">
  <h2>ลืมรหัสผ่าน</h2>
  <p class="desc">กรุณากรอกอีเมล์ของท่าน</p>
  <div class="log-in-form">
    <form [formGroup]="forgetForm" class="cmn-form">
      <!-- <p class="common-field username">
          <input id="username" name="username" [placeholder]="'field.username' | translate" formControlName="username" #username>
          <mat-error *ngIf="f['username'].errors && f['username'].errors.required">
              {{ 'login.error.require-username' | translate }}
          </mat-error>
        </p> -->
      <div class="common-field">
        <h6>อีเมล์</h6>
        <div class="input-wrap">
          <input
            [placeholder]="'field.email' | translate"
            formControlName="email"
            #email
          />
        </div>
      </div>
      <span
        class="error"
        *ngIf="f['email'].errors && f['email'].errors.required"
      >
        กรุณากรอกอีเมล์
      </span>
      <span class="error" *ngIf="f['email'].errors && f['email'].errors.email">
        อีเมล์นี้ไม่มีในระบบ
      </span>

      <p class="btn-wrap">
        <button
          id="submit"
          class="cmn-btn primary"
          type="submit"
          (click)="onSubmit()"
          [disabled]="forgetForm.pristine || forgetForm.invalid"
        >
          ลืมรหัสผ่าน
        </button>
      </p>
      <p class="forget-pw">
        <a routerLink="/">กลับสู่หน้าหลัก</a>
      </p>
    </form>
    <mat-spinner
      class="spinner"
      [style.display]="loading ? 'block' : 'none'"
    ></mat-spinner>
    <div *ngIf="error" class="alert alert-danger">
      {{ "api.error.user." + error | translate }}
    </div>
  </div>
</div>
