<div class="interact-box">
  <h2>ตั้งรหัสผ่านใหม่</h2>
  <div class="log-in-form">
    <form [formGroup]="resetPasswordForm" class="cmn-form">
      <div class="common-field password">
        <label for="new-pw">ตั้งรหัสผ่านใหม่</label>
        <div class="input-wrap">
          <mat-pass-toggle-visibility
            #togglepw
            matSuffix
          ></mat-pass-toggle-visibility>
          <input
            name="new-pw"
            [type]="togglepw.type"
            [placeholder]="'regetpass.password' | translate"
            formControlName="password"
            #password
          />
        </div>
        <mat-error
          class="error"
          *ngIf="f['password'].errors && f['password'].errors.required"
        >
          กรุณากรอกรหัสผ่านใหม่
        </mat-error>
      </div>
      <div class="common-field password">
        <label for="cf-pw">ยืนยันรหัสผ่าน</label>
        <div class="input-wrap">
          <mat-pass-toggle-visibility
            #togglecpw
            matSuffix
          ></mat-pass-toggle-visibility>
          <input
            name="cf-pw"
            [type]="togglecpw.type"
            [placeholder]="'regetpass.confirmPassword' | translate"
            formControlName="confirmPassword"
            #confirmPassword
          />
        </div>
        <mat-error
          class="error"
          *ngIf="
            f['confirmPassword'].errors && f['confirmPassword'].errors.mustMatch
          "
        >
          รหัสผ่านไม่ตรงกัน
        </mat-error>
      </div>
      <div class="btn-wrap">
        <button
          id="submit"
          class="cmn-btn primary"
          type="submit"
          (click)="onSubmit()"
          [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid"
        >
          เปลี่ยนรหัสผ่าน
        </button>
      </div>
    </form>
    <mat-spinner
      class="spinner"
      [style.display]="loading ? 'block' : 'none'"
    ></mat-spinner>
    <div *ngIf="error" class="alert alert-danger">
      {{ "api.error.user." + error | translate }}
    </div>
  </div>
</div>
